asgiref==3.8.1
attrs==25.1.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.0
defusedxml==0.7.1
dj-rest-auth==7.2.0
Django==5.2.15
django-allauth==65.18.0
django-cors-headers==4.9.0
django-filter==25.2
gunicorn==26.0.0
whitenoise==6.12.0
openpyxl==3.1.5
et-xmlfile==2.0.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
idna==3.10
oauthlib==3.2.2
pillow==12.2.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.10.1
python-dotenv==1.2.2
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==75.8.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
